<ul class="horizontal-list">
  {% for item in store_links %}
    {% if item | length > 0 %}
      <li>
        {% if 'itunes.apple.com' in item %}
          <a href="{{item}}"  class="badge-btn">
            <i class="fa fa-apple"></i>
            
          </a>
        {% elif 'play.google.com' in item %}
          <a href="{{item}}"  class="badge-btn">
             <i class="fa fa-google-play"></i>
          </a>
        {% elif 'microsoft.com' in item %}
          <a href="{{item}}" class="badge-btn">
                <i class="fa fa-microsoft"></i>
          </a>
        {% else %}
          <a href="{{item}}"  class="badge-btn">
            <i class="fa fa-globe" ></i>
          </a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
